_ReSharper.ExtendedDisplay/*
*.DS_Store
*.userprefs
*.suo
ExtendedDisplay.Client.Android/bin/*
ExtendedDisplay.Client.Android/obj/*
ExtendedDisplay.Client.Console/bin/*
ExtendedDisplay.Client.Console/obj/*
ExtendedDisplay.Client.iOS/bin/*
ExtendedDisplay.Client.iOS/obj/*
ExtendedDisplay.Client.WinForms/bin/*
ExtendedDisplay.Client.WinForms/obj/*
ExtendedDisplay.Framework.Client/bin/*
ExtendedDisplay.Framework.Client/obj/*
ExtendedDisplay.Framework.Cross/bin/*
ExtendedDisplay.Framework.Cross/obj/*
ExtendedDisplay.Framework.CrossAndroid/bin/*
ExtendedDisplay.Framework.CrossAndroid/obj/*
ExtendedDisplay.Framework.CrossIos/bin/*
ExtendedDisplay.Framework.CrossIos/obj/*
ExtendedDisplay.Framework.CrossWin/bin/*
ExtendedDisplay.Framework.CrossWin/obj/*
ExtendedDisplay.Framework.Win/bin/*
ExtendedDisplay.Framework.Win/obj/*
ExtendedDisplay.Server.Console/bin/*
ExtendedDisplay.Server.Console/obj/*