_ReSharper.ExtendedDisplay/*
*.DS_Store
*.userprefs
*.suo
ExtendedDisplay.Client.Android/bin/*
ExtendedDisplay.Client.Android/obj/*
ExtendedDisplay.Client.Console/bin/*
ExtendedDisplay.Client.Console/obj/*
ExtendedDisplay.Client.iOS/bin/*
ExtendedDisplay.Client.iOS/obj/*
ExtendedDisplay.Client.WinForms/bin/*
ExtendedDisplay.Client.WinForms/obj/*
ExtendedDisplay.Client.MacOsX/bin/*
ExtendedDisplay.Client.MacOsX/obj/*
ExtendedDisplay.Framework.Android/bin/*
ExtendedDisplay.Framework.Android/obj/*
ExtendedDisplay.Framework.Ios/bin/*
ExtendedDisplay.Framework.Ios/obj/*
ExtendedDisplay.Framework.Win/bin/*
ExtendedDisplay.Framework.Win/obj/*
ExtendedDisplay.Framework.WinPhone/bin/*
ExtendedDisplay.Framework.WinPhone/obj/*
ExtendedDisplay.Server.Android/bin/*
ExtendedDisplay.Server.Android/obj/*
ExtendedDisplay.Server.Console/bin/*
ExtendedDisplay.Server.Console/obj/*
ExtendedDisplay.Server.Ios/bin/*
ExtendedDisplay.Server.Ios/obj/*
ExtendedDisplay.Server.MacConsole/bin/*
ExtendedDisplay.Server.MacConsole/obj/*